@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --green:#127729;
    --gray:#666;
    --light-gray:#eee;
}
*{
    font-family: "DM Sans", sans-serif;
}

select{
	background-color
    :var(--light-gray);
  	border:none;
  	padding:10px 15px;
  	border-radius:15px;
  	transition:250ms;
}
select:hover{
  color:var(--green)
}
option{transition:250ms}

option:hover{
  background-color:var(--light-gray);
  color:var(--green);
}
@media (max-width: 750px), (max-height: 500px){
    body * {
        display: none; /* Hides all content */
    }

    body::before {
        content: "Greenflow nie działa / nie jest przystosowane jeszcze na tabletach/telefonach!";
        display: block;
        text-align: center;
        font-size: 24px;
        color: var(--gray);
        margin-top: 50vh;
        transform: translateY(-50%);
    }
}
