<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFlow | Zarejestruj się</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="x-icon" href="../static/GreenFlowIcon.png">
    <meta name="description" content="GreenFlow - Daj Ubraniom 2 życie, za darmo!">
    <meta name="keywords" content="GreenFlow, Ubrania za Darmo, Ubrania, Wymiana Ubrań, za darmo">
    <meta name="author" content="Franciszek Czajkowski">
</head>
<body id="form__main">
    <main id="form">
        <a href="{{ url_for('home') }}"><img style="cursor:pointer; width:300px; margin-bottom:100px" src="../static/text.png" alt="" id="image__a"></a>
        <p>
            Zarejestruj się do GreenFlow
        </p>
        <form method="POST" action="{{ url_for('registrate') }}">
            <label for="form__login">Email</label>
            <input type="email" name="email" class="search__input" id="form__login" required>
            <label for="form__password">Password</label>
            <input type="password" name="password" class="search__input" id="form__password" required>

            <div>
                <input type="submit" value="Zarejestruj się" id="form__submit">

                <a href="{{ url_for('form' )}}">Mam Już Konto</a>
            </div>
        </form>
    </main>

</body>
</html>